<DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>
        {%block title %} 
        {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      />
        {% block css %}{% endblock %}

    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}">SolEctro</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                         <li class="nav-item">
                <a class="nav-link {% if request.path == "/" %} active {% endif %}" href="{%url 'home'%}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.path == "/products/home" %} active {% endif %}" href="{%url 'products.home'%}">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'cart.products' %}">
                  <i class="bi bi-cart"></i>
                  {% with cart_count=request.session.cart_count|default:0 %}
                    {% if cart_count > 0 %}
                      <span class="badge bg-danger">{{ cart_count }}</span>
                    {% endif %}
                  {% endwith %}
                </a>
              </li>
              <li class="nav-item">
                <a class="btn btn-primary" href="#">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container">
        {% block content %}
        {% endblock %}

        {% block body %} 
        {% endblock%}
      </div>

      <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2025 &copy; solGhonaim. All rights reserved.</p>
        <a href="#" class="text-light me-3">Privacy Policy</a>
        <a href="#" class="text-light">Contact</a>
      </footer>
    </body>
  </html>
</DOCTYPE>
