{% extends 'layouts/base.html' %}


{% block  title %} Categories Page {% endblock  %}
{% block content  %}
<h1>Categories</h1>

<div class="container my-5">
    <h2 class="text-center mb-4">Browse by Category</h2>

    <div class="row">
        {% for category in categories %}
        <div class="col-md-3 col-sm-6">
            <div class="card category-card text-center shadow-sm">
                <div class="card-body">
                    <i class="bi bi-box fs-1 text-primary"></i>
                    <h5 class="card-title mt-2">{{ category.name }}</h5>
                    <a href="#" class="btn btn-outline-primary">View Products</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock   %}