<!DOCTYPE html>
<html>
  <head>
    <title>Categories</title>
    <link
      rel="stylesheet"
      type="text/css"
      {% comment %} href="{% static 'categories/css/categories.css' %}" {% endcomment %}
    />
    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container-fluid">
      <h1 class="text-center">Welcome to the Categories Page</h1>
      <div class="container"></div>
    </div>
  </body>
</html>
